* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* banner */
/* banner */

/* aboutUs */
/* aboutUs */

/* whyChoose */
/* whyChoose */

/* category */
/* category */

/* service */
/* service */

/* delicious */
/* delicious */

/* number */
/* number */

/* video */
/* video */

/* blog */
/* blog */

/* testi */
/* testi */

/* footer */
/* footer */
